<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>无标题文档</title>
<style>
.user_ico_div {
	text-align:center;
}
.user_ico {
	border-radius: 50px;
	margin:0 auto;
}
.username{
	text-align:center;
}
</style>
</head>

<body>
<div>
  <div class="user_ico_div"><img class="user_ico" src="$headimgurl" width="100"></div>
  <div class="username">$nickname</div>
</div>
</body>
</html>
